.about-us-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
  }
  .about-us {
    padding-bottom: 94px;
  }
  .about-us-list {
    display: flex;
  }
  .about-us-item { 
    &:not(:last-child) {
      margin-right: 30px;
   }
  }
  .about-us-item-wrap {
    position: relative;
  }
  .about-us-item-text {
    position: absolute;
    left: 0;
    bottom: 0;
    font-weight: 700; 
    font-size: 14px; 
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
    width: 370px;
    height: 70px;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
  }